{% extends 'fluxapp/layout.html' %}

{% block contient %}
    <h1>Accueil</h1>
    <div class="card-deck">
        <div class="card border-info mb-3" style="max-width: 18rem; margin-right: 20px">
            <div class="card-header">Modèle</div>
            <a href="http://127.0.0.1:8000/ex1">
                <div class="card-body">
                    <h5 class="card-title">3 files d'attents</h5>
                    <p class="card-text">C'est une application simple du réseau jackson ouvert. Dedans, il y a 3 files d'attentes.</p>
                </div>
            </a>
        </div>

        <div class="card border-info mb-3" style="max-width: 18rem; margin-right: 20px">
            <div class="card-header">Modèle</div>
            <a href="http://127.0.0.1:8000/fluxapp/initHospital/">
                <div class="card-body">
                    <h5 class="card-title">Flux des patients</h5>
                    <p class="card-text">C'est une application du réseau jackson ouvert pour etudier le flux des patients dans un hôpital.</p>
                </div>
            </a>
        </div>

        <div class="card border-secondary mb-3" style="max-width: 18rem; margin-right: 20px">
            <a href="http://127.0.0.1:8000/fluxapp/createFiles1">
                <div class="card-body">
                    <h5 style="color: grey; margin-bottom: 30px">créer nouveau modèle</h5>
                </div>
            </a>
        </div>
    </div>
{% endblock %}